<!-- Full Page Image Header Area -->
<div id="top" class="header visible-md visible-lg">
  <div class="container">
    <div class="home-body">
      <div class="col-lg-4 col-lg-offset-2">
        <img src="assets/energy_drink.png" alt="Responsive image" class="home-image">
      </div>
      <div class="col-lg-6 c-caption">
        <h1>A healthy energy drink</h1>
        <h1>made using Africa's</h1>
        <h1>greatest secret, the</h1>
        <h1>Baobab Superfruit</h1>
        <h1>Guaran and Kola Nut.</h1>
        <a href="#services" class="btn btn-red btn-lg">Learn More</a>
      </div>
    </div>
  </div>
</div>
<!-- /Full Page Image Header Area -->