<!-- Mobile Header Area -->
<div id="top" class="header-mobile visible-xs">
  <div class="container">
    <div class="home-body-mobile">

      <div class="row">
        <div class="col-xs-4 col-lg-6 c-caption text-center">
           <h1>Africa's greatest  </h1>
          <h1>secret in a can.</h1>
          <a href="#product" class="btn btn-red btn-lg">Learn More</a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2">
          <img src="assets/energy_drink.png" alt="Responsive image" class="home-image-mobile">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Mobile Header Area -->