<%= render 'layouts/navbar' %>    
    <!-- /Side Menu -->
  
    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
      <div class="container">

        <div class="home-body">
          <div class ="row">
          <div class="nav-home">
            <div class="btn-group btn-group-justified">
              <a href="/"class="btn btn-default">HOME</a>
              <a href="/products"class="btn btn-default">PRODUCT INFORMATION</a>
              <a href="/buy"class="btn btn-default">BUY-ONLINE</a>
              <a href="/contact"class="btn btn-red">CONTACT</a>
            </div>
          </div>

            <div class="col-md-8">
              <p><strong>BY E-MAIL</strong></p>
              <p>info@energyborninafrica.com</p><br>

              <p><strong>BY TELEPHONE</strong></p>
              <p>+44(0)00000 00000</p><br>

              <p><strong>BY MAIL</strong></p>
              <p>PO Box XXX,</p>
              <p>XXXXXXXXX,</p>
              <p>LONDON,</p>
              <p>XXX XXX</p><br>

              <p><strong>FOLLOW US ON</strong></p>
            </div>
            </div>
            <div class="col-md-4">
            </div>
          </div>
        </div>

      </div>
    </div>


<%= render 'layouts/footer' %>   
