<%= render 'layouts/navbar' %>    
    <!-- /Side Menu -->
  
    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
      <div class="container">
        <div class="home-body">
          <div class ="row">
            <div class="col-md-8">
              <div class="">
                <h1>A healthy energy drink</h1>
                <h1>made using Africa's</h1>
                <h1>greatest secret, the</h1>
                <h1>Baobab Superfruit</h1>
                <h1>Guaran and Kola Nut.</h1>
              </div>
            </div>
            <div class="col-md-4">
              <img src="assets/energy_drink.png" alt="Responsive image" class="home-image">
            </div>
          </div>
        </div>

      </div>
    </div>

<%= render 'layouts/footer' %>   
