<style type="text/css">

.navbar {
position: relative;
min-height: 50px;
margin-bottom: auto;
border: 1px solid transparent;
}

</style>

<%= render 'pages/navbar' %>
<div class="order">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>Product Description - see below</h3>
				<p>A super fruit energy drink with natural caffeine and Baobab</p>
				<img src="assets/energy_drink.jpg" alt="..." class="img-rounded">
			</div>

			<div class="col-md-4">
				<H1>Price £10.80</H1>
					<form action="http://peekapp.myshopify.com/cart/" method="post">
					  <input type="hidden" name="id" value="459776465" />
					  <input type="hidden" name="return_to" value="back" />
					  <input type="text" size="4" name="updates[]" value="1" onfocus="this.select();" class="tc item-quantity" />
					  <input type="submit" class="btn btn-default" value="BUY NOW" />
					</form><br>
				<h4>Shipping Notice</h4>
				<p>Customers purchasing Tiles from Canada will be subject to a $8.00 shipping fee on their order. Customers in the EU and ANZ, will be subject to a $14.00 shipping fee.</p><br>

				<h4>Credit Card Notice</h4>
				<p>Your credit card will be charged one to two days after placing your order.</p><br>

				<h4>Free Sample</h4>
				<p>If you would like some samples to see first hand the quality of these Sage Invoices then call us on 0844 3511398 and we'll pop some in the post.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <ul class="list-inline">
              <li><i class="fa fa-facebook fa-3x"></i></li>
              <li><i class="fa fa-twitter fa-3x"></i></li>
            </ul>
            <div class="top-scroll">
              <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
            </div>
            <hr>
            <p>Copyright &copy; Company 2013</p>
          </div>
        </div>
      </div>
    </footer>