<%= render 'layouts/navbar' %>    
    <!-- /Side Menu -->
  
    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
      <div class="container">

        <div class="home-body">
          <div class ="row">
          <div class="nav-home">
            <div class="btn-group btn-group-justified">
              <a href="/"class="btn btn-default">HOME</a>
              <a href="/products"class="btn btn-red">PRODUCT INFORMATION</a>
              <a href="/buy"class="btn btn-default">BUY-ONLINE</a>
              <a href="/contact"class="btn btn-default">CONTACT</a>
            </div>
          </div>

            <div class="col-md-6">
              <div class="">
                <img src="assets/guarana.jpg" alt="..." class="img-rounded">
                <img src="assets/kola-nut.jpg" alt="..." class="img-rounded">
                <img src="assets/tree.jpg" alt="..." class="img-rounded">
                <img src="assets/baobab.jpg" alt="..." class="img-rounded">
              </div>
            </div>
            <div class="col-md-6">
              <p><strong>KOLA NUT RESTORES VITALITY</strong></p>
              <p>Fruit of the kola tree, native to the tropical rainforest of Africa. The origin of the term "cola" it is chewed in many West African cultures, individually or in social setting, to restore vitality</p><br>

              <p><strong>GUARANA MEMORY RETENTION</strong></p>
              <p>In other mammals Guarana has been shown to increase memory retention and physical endurance.</p><br>

              <p><strong>BAOBAB PICKED FROM THE TREE OF LIFE</strong></p>
              <p>Baobab contains six time more vitamins C than Oranges, twice as much Calcium as milk and five more potassium as Bananas.</p>
              <p>The tree on which the super fruit grows is known to natives as the 'tree of life' and has been known to live for over 6,000 years</p><br>
            </div>
          </div>
        </div>
      </div>
    </div>


<%= render 'layouts/footer' %>   
