<%= render 'layouts/navbar' %>    
    <!-- /Side Menu -->
  
    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
      <div class="container">

        <div class="home-body">
          <div class ="row">
          <div class="nav-home">
            <div class="btn-group btn-group-justified">
              <a href="/"class="btn btn-default">HOME</a>
              <a href="/products"class="btn btn-red">PRODUCT INFORMATION</a>
              <a href="/buy"class="btn btn-default">BUY-ONLINE</a>
              <a href="/contact"class="btn btn-default">CONTACT</a>
            </div>
          </div>

            <div class="col-md-6">
              <div class="">
                <img src="assets/energy_drink.png" alt="Responsive image" class="home-image">
              </div>
            </div>
            <div class="col-md-4">
              <p>A healthy energy drink</p>
              <p>made using Africa's</p>
              <p>greatest secret, the</p>
              <p>Baobab Superfruit</p>
              <p>Guaran and Kola Nut.</p>
            </div>
          </div>
        </div>

      </div>
    </div>


<%= render 'layouts/footer' %>   
