<style type="text/css">

.services {
padding-top: 121px;
}
.mobile {
  margin-left: -4px;
}

.home-image-mobile {
display: block;
max-width: 100%;
width: 159px;
height: auto;
margin-left: 76px;
margin-top: 20px;
}


</style>

<%= render 'layouts/navbar' %>    
    <!-- /Side Menu -->
  
    <!-- Full Page Image Header Area -->
    <div id="top" class="row header">
  
    </div>
    <!-- /Full Page Image Header Area -->
    
  
    <!-- Services -->
    <div id="services" class="row services features2">
      
    </div>
    <!-- /Services -->

    <!-- Callout -->
    <div class="row callout">
     
    </div>
    <!-- /Callout -->

    <!-- Call to Action -->
    <div class="row call-to-action features">
      
    </div>
    <!-- /Call to Action -->
    
    <!-- Footer -->
    <footer class="row">
      
    </footer>
    <!-- /Footer -->