<nav class="navbar transparent navbar-inverse navbar-fixed-bottom navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar">
        <p class="text-center"><strong>Center aligned text.</strong></p>
    </div>
  </div>
</nav>