<!DOCTYPE html>
<html>
<head>
  <title>Energy » Energy When You Need It</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="Ngti3jELYEhYWrhwHVvs57GLeqChOUpCktZogvM31K0" />
  
</head>
<script type="text/javascript" src="/scripts/retina.js"></script>
<body>
		<%= yield %>
</body>
</html>
